<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Disconto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91141F861DC75D42005931F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91545E5E1DBE2DE400AF486B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91ABC2DB1DC79BF40043D60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C9B7DE1DDB3B02004B37A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C9B7EC1DDB3B1E004B37A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D120A41E605C7100BD8B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D120B21E605C8F00BD8B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D82EFE1DC33EC300ADFBB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E46EA01DBE1BDD005D25EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E46EAE1DBE26F1005D25EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F8AB901DC88D960002A41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F8AB9E1DC8B2E90002A41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0E0C021CE32DCF00331294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0E0C1B1CE32DCF00331294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0E0C261CE32DCF00331294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
